<!-- <!DOCTYPE html>
<html lang="en">
<body >
  <div class="container-fluid">
    <mat-toolbar color="primary" >
      <mat-toolbar-row >
        <span>Kudo Cards</span>
        <span class="example-spacer"></span>
        <mat-icon  #tooltip="matTooltip"
        matTooltip="Create A New Post" (click)="showCreateDialog()" class="example-icon" aria-hidden="false" aria-label="Example add icon">add</mat-icon>
      </mat-toolbar-row>
  
    </mat-toolbar>

  </div>



  <app-post-list></app-post-list>
  
</body>
</html> -->

<!-- <router-outlet></router-outlet> -->
<router-outlet></router-outlet>